@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --instaGradient: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
